<%- include partials/head -%>
  <title>FAQ - Veelgestelde vragen</title>
</head>

<%- include partials/header -%>

<body class="<%= tv === true ? 'tv' : '' %>">

  <h2>FAQ - Veelgestelde vragen</h2>

  <main>
    <% if (faq.length > 0) { %>
      <% for (let i = 0; i < faq.length; i++) { %>
        <a href="#faq-<%= faq[i].id %>" data-faq="question">
          <%= faq[i].question + '?' %>
        </a>
        <p id="faq-<%= faq[i].id %>" data-faq="answer">
          <%= faq[i].answer %>
        </p>
      <% } %>
    <% } else { %>
      <p>Geen FAQ vragen gevonden. Vraag aan een docent of hulpstudent om hulp, of druk de SOS knop.</p>
    <% } %>
  </main>

  <%- include partials/footer -%>
