<%- include partials/head -%>

<title>Curriculum CMD</title>

<%- include partials/header -%>

<% if (tv) { %>
  Multi-touch screen mode active
<% } %>

<nav id="main">
  <ul>
    <% for (let i = 0; i < menu.length; i++) { %>
      <li>
        <a href="/page/<%= menu[i].replace(/ /g, '-').toLowerCase() %>">
          <%= menu[i] %>

          <p>
            <%= introText[i] %>
          </p>
        </a>
      </li>
    <% } %>
  </ul>
</nav>

<nav id="sub">
  <ul>
    <li><a href="/all">Alle vakken</a></li>
    <li><a href="/faq">FAQ</a></li>
  </ul>
</nav>

<%- include partials/footer -%>
