<%- include partials/head -%>
  <title>Curriculum CMD</title>
</head>

<body class="<%= tv === true ? 'tv ' : '' %> index">

<%- include partials/header -%>

  <nav data-nav="main">
    <ul>
      <% for (let i = 0; i < menu.length; i++) { %>
        <li>
          <a href="/page/<%= menu[i].replace(/ /g, '-').toLowerCase() %>">
            <h2><%= menu[i] %></h2>

            <p>
              <%= introText[i] %>
            </p>

            <a href="/page/<%= menu[i].replace(/ /g, '-').toLowerCase() %>" class="button">
              Bekijk segment
            </a>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>

  <header data-header="sub">
    <nav data-nav="sub">
      <ul>
        <li><a href="/page/Alle-vakken">Alle vakken</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </nav>
  </header>

  <%- include partials/footer -%>
