<%- include partials/head -%>
  <title>Curriculum CMD</title>
</head>

<%- include partials/header -%>

<body class="<%= tv === true ? 'tv' : '' %>">

  <header>
    <nav data-nav="sub">
      <ul>
        <li><a href="/all">Alle vakken</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </nav>
  </header>

  <nav data-nav="main">
    <ul>
      <% for (let i = 0; i < menu.length; i++) { %>
        <li>
          <a href="/page/<%= menu[i].replace(/ /g, '-').toLowerCase() %>">
            <h2><%= menu[i] %></h2>

            <p>
              <%= introText[i] %>
            </p>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>

  <%- include partials/footer -%>
