<%- include partials/head -%>
  <title><%= page.title %></title>
</head>

<body class="<%= tv === true ? 'tv ' : '' %><%= page.type %>">

<%- include partials/header -%>

  <h2><%= page.title %></h2>

  <main>
    <% if (page.content.length > 0) { %>
      <article>
        <% for (let i = 0; i < page.content.length; i++) { %>
          <%- page.content[i] %>
        <% } %>
      </article>
    <% } %>

    <% if (page.menus.length > 0) { %>
      <% for (let i = 0; i < page.menus.length; i++) { %>
        <section data-type="menu">
          <nav data-nav="children" class="<%= page.menuChildren[i].length > 12 ? 'carousel' : '' %>">
            <h3><%= page.menus[i] %></h3>
            <ul>
              <% for (let j = 0; j < page.menuChildren[i].length; j++) { %>
                <li class="<%= page.menuChildren[i][j].type %>">
                  <a href="/page/<%= page.menuChildren[i][j].title.replace(/ /g, '-') %>">
                    <%= page.menuChildren[i][j].title %>
                  </a>
                </li>
              <% } %>
            </ul>
          </nav>
        </section>
      <% } %>
    <% } %>
  </main>

  <footer>
    <img src="/assets/images/icons/<%= page.type %>.png" alt="<%= page.type %> icoon">
  </footer>

  <%- include partials/footer -%>
