<%- include partials/head -%>
  <title><%= page.title %></title>
</head>

<%- include partials/header -%>

<body class="<%= tv === true ? 'tv ' : '' %><%= page.type %>">

  <h2><%= page.title %></h2>

  <main>
    <% if (page.content.length > 0) { %>
      <% for (let i = 0; i < page.content.length; i++) { %>
        <section data-type="content" data-order="<%= i %>">
          <%- page.content[i] %>
        </section>
      <% } %>
    <% } %>

    <% if (page.menus.length > 0) { %>
      <% for (let i = 0; i < page.menus.length; i++) { %>
        <section data-type="menu" data-order="<%= i %>">
          <h3><%= page.menus[i] %></h3>
          <nav data-nav="children">
            <ul>
              <% for (let j = 0; j < page.menuChildren[i].length; j++) { %>
                <li class="<%= page.menuChildren[i][j].type %>">
                  <a href="/page/<%= page.menuChildren[i][j].title.replace(/ /g, '-') %>">
                    <%= page.menuChildren[i][j].title %>
                  </a>
                </li>
              <% } %>
            </ul>
          </nav>
        </section>
      <% } %>
    <% } %>
  </main>

  <%- include partials/footer -%>
