<%- include partials/head -%>
  <title><%= page.title %></title>
</head>

<body class="<%= tv === true ? 'tv ' : '' %><%= page.type %>">

<%- include partials/header -%>

  <h2><%= page.title %></h2>

  <main>
    <article>
      <% if (page.content.length > 0) { %>
        <% for (let i = 0; i < page.content.length; i++) { %>
          <%- page.content[i] %>
        <% } %>
      <% } %>

      <% if (page.portfolio.length > 0) { %>
        </section>
        <section data-type="portfolio">
          <h3>Studentenwerk</h3>

          <nav data-nav="portfolio">
            <ul>
              <% for (let i = 0; i < page.portfolio.length; i++) { %>
                <li>
                  <a href="/portfolio/<%= page.portfolio[i].title.toLowerCase() %>">
                    <p><%= page.portfolio[i].title %></p>

                    <% if (page.portfolio[i].image) { %>
                      <img src="/media/<%= page.portfolio[i].image %>" alt="<%= page.portfolio[i].title %> afbeelding">
                    <% } %>
                  </a>
                </li>
              <% } %>
            </ul>
          </nav>
        </section>
      <% } %>
    </article>

    <% if (page.menus.length > 0) { %>
      <% for (let i = 0; i < page.menus.length; i++) { %>
        <section data-type="menu">
          <nav data-nav="children" class="<%= page.menuChildren[i].length > 12 ? 'carousel' : '' %>">
            <h3><%= page.menus[i] %></h3>
            <ul>
              <% for (let j = 0; j < page.menuChildren[i].length; j++) { %>
                <li data-page-type="<%= page.menuChildren[i][j].type %>">
                  <a href="/page/<%= page.menuChildren[i][j].title.replace(/ /g, '-').toLowerCase() %>">
                    <%= page.menuChildren[i][j].title %>
                  </a>
                </li>
              <% } %>
            </ul>
          </nav>
        </section>
      <% } %>
    <% } %>
  </main>

  <footer data-type="image">
    <img src="/assets/image/icon/<%= page.type %>-<%= Math.ceil(Math.random() * 3) %>.svg" alt="<%= page.type %> icoon">
  </footer>

  <%- include partials/footer -%>
