<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">

		<title><%= page.title %></title>

		<%- include partials/head -%>

		<%- include partials/header -%>

		<% if (tv) { %>
			Multi-touch screen mode active
		<% } %>

		<h2><%= page.title %></h2>

		<span><%= page.type %></span>

		<% if (page.menus.length > 0) { %>
			<% for (let i = 0; i < page.menus.length; i++) { %>
				<h3><%= page.menus[i] %></h3>
				<ul>
					<% for (let j = 0; j < page.menuChildren[i].length; j++) { %>
						<li><a href="/page/<%= page.menuChildren[i][j].replace(/ /g, '-') %>"><%= page.menuChildren[i][j] %></a></li>
					<% } %>
				</ul>
			<% } %>
		<% } %>

		<main>
			<% if (page.content.length > 0) { %>
				<% for (let i = 0; i < page.content.length; i++) { %>
					<section data-order="<%= i %>">
						<%- page.content[i] %>
					</section>
				<% } %>
			<% } %>
		</main>

		<%- include partials/footer -%>
