<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">

		<title>Page types</title>

    <%- include ../partials/head -%>

    <%- include ../partials/header -%>

    <h1>Page types</h1>

    <a href="/subterra/types/add">Add a page type</a>

    <% if (system.types.length > 0) { %>
      <ul>
        <% for (let i = 0; i < system.types.length; i++) { %>
          <li>
            <a href="/subterra/types/edit/<%= system.types[i].id %>">
              <%= system.types[i].name %>
            </a>
            | <%= system.types[i].modules.replace(',', ', ') %>
						<button data-action="delete type" onclick="deleteItem('types', <%= system.types[i].id %>)">delete</button>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <p>No page types found.</p>
    <% } %>

		<script>
			// Delete item from database
			function deleteItem(category, id) {
				if (confirm('Are you sure you want to delete this?') === true) {
					window.location = `/subterra/${ category }/delete/${ id }`;
				}
			}
		</script>

    <%- include ../partials/footer -%>
