<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">

		<title>Edit a page</title>

    <%- include ../../partials/head -%>

    <%- include ../../partials/header -%>

    <h1>Edit <%= page.title %></h1>

    <form action="/pages/edit/<%= page.id %>" method="post">
      <fieldset>
        <legend>Type</legend>

        <select>
          <% for (let i = 0; i < system.types.length; i++) { %>
            <option value="<%= system.types[i] %>" <%= system.types[i] === page.type ? 'selected' : '' %>>
              <%= system.types[i] %>
            </option>
          <% } %>
        </select>

      </fieldset>
      <fieldset>
        <legend>Menus</legend>

        <ul>
          <% for (let i = 0; i < page.parents.length; i++) { %>
            <li>
              <%= page.parents[i] %>
            </li>
          <% } %>
        </ul>

        <select>
          <% for (let i = 0; i < system.menus.length; i++) { %>
            <option value="<%= system.menus[i] %>">
              <%= system.menus[i] %>
            </option>
          <% } %>
        </select>

      </fieldset>
      <fieldset>
        <legend>Content</legend>

        <textarea>
          <%- page.content %>
        </textarea>

      </fieldset>

      <input type="submit" value="Submit">
    </form>

    <%- include ../../partials/footer -%>
