<%- include ../partials/head -%>

<title>Add a portfolio item</title>

<%- include ../partials/header -%>

<h1>Add a portfolio item</h1>

<p>
  Select the course(s) your want this portfolio item to appear on and set it's paragraph, image and embedded video, if desired.<br>
  Empty inputs will not be shown to visitors of your website.
</p>

<form enctype="multipart/form-data" action="/subterra/portfolio/add" method="post" onsubmit="form.submit()">
  <fieldset>
    <legend>Title</legend>

    <label>
      Enter a title for this portfolio item
      <input name="title" type="text" pattern="[a-zA-Z0-9\s]+" title="Only alphanumeric characters are allowed" required>
    </label>
  </fieldset>
  <fieldset>
    <legend>Courses</legend>

    <ul data-list="selection"></ul>

    <input name="courses" type="hidden">

    <label>
      Select a course you want this portfolio item to appear on (multiple possible)
      <select onchange="selection.add('courses')">
        <option value="" disabled selected>Add to course</option>
        <% for (let i = 0; i < system.courses.length; i++) { %>
          <option value="<%= system.courses[i] %>">
            <%= system.courses[i] %>
          </option>
        <% } %>
      </select>
    </label>
  </fieldset>
  <fieldset>
    <legend>Content</legend>

    <ul data-list="content">
      <li data-content="paragraph">
        <label>
          Paragraph
          <textarea name="content-p"></textarea>
        </label>
        <ul data-list="portfolio-features">
          <li>
            <button data-action="clear" title="Clear input" onclick="input.clear.input()">
              <span>Clear</span>
            </button>
          </li>
        </ul>
      </li>
      <li data-content="image">
        <label>
          Image
          <input name="content-i" type="file" accept="image/*" onblur="input.set.image.name()">
        </label>
        <input name="content-i-name" type="hidden">
        <ul data-list="portfolio-features">
          <li>
            <button data-action="clear" title="Clear input" onclick="input.clear.input()">
              <span>Clear</span>
            </button>
          </li>
        </ul>
      </li>
      <li data-content="embed">
        <label>
          Embedded video (YouTube or Vimeo)
          <input name="content-e" type="url">
        </label>
        <ul data-list="portfolio-features">
          <li>
            <button data-action="clear" title="Clear input" onclick="input.clear.input()">
              <span>Clear</span>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </fieldset>

  <input type="submit" value="Publish">
</form>

<%- include ../partials/footer -%>
