<%- include ../partials/head -%>

<title>Edit portfolio item '<%= item.title %>'</title>

<%- include ../partials/header -%>

<h1>
  Edit portfolio item<br>
  '<%= item.title %>'
</h1>

<p>
  Edit the list of courses your want this portfolio item to appear on and edit it's paragraph, image and embedded video, if desired.
</p>

<button data-action="delete type" onclick="utils.removeItem('portfolio', <%= item.id %>)">Delete '<%= item.title %>'</button>

<form enctype="multipart/form-data" action="/subterra/portfolio/edit/<%= item.id %>" method="post" onsubmit="form.submit()">
  <fieldset>
    <legend>Title</legend>

    <label>
      Edit this title of this portfolio item
      <input name="title" type="text" pattern="[a-zA-Z0-9\s]+" title="Only alphanumeric characters are allowed" value="<%= item.title %>" required>
    </label>
  </fieldset>
  <fieldset>
    <legend>Courses</legend>

    <ul data-list="selection">
      <% for (let i = 0; i < item.courses.length; i++) { %>
        <li data-order="<%= i %>">
          <span data-type="courses-name"><%= item.courses[i] %></span>
          <ul data-list="selection-features">
            <li>
              <button data-action="move-up" title="Move selection up" onclick="selection.order('courses', 'up')" <%= i === 0 ? 'disabled' : '' %>>
                <span>Move up</span>
              </button>
            </li>
            <li>
              <button data-action="move-down" title="Move selection down" onclick="selection.order('courses', 'down')" <%= i === item.courses.length - 1 ? 'disabled' : '' %>>
                <span>Move up</span>
              </button>
            </li>
            <li>
              <button data-action="delete" title="Delete selection" onclick="selection.delete('courses')">
                <span>Delete</span>
              </button>
            </li>
          </ul>
        </li>
      <% } %>
    </ul>

    <input name="courses" type="hidden" value="<%= item.courses %>">

    <label>
      Edit the courses this page appears on (multiple possible)
      <select onchange="selection.add('courses')">
        <option value="" disabled selected>Add to course</option>
        <% for (let i = 0; i < system.courses.length; i++) { %>
          <option value="<%= system.courses[i] %>">
            <%= system.courses[i] %>
          </option>
        <% } %>
      </select>
    </label>
  </fieldset>
  <fieldset>
    <legend>Content</legend>

    <ul data-list="content">
      <li>
        <label>
          Paragraph
          <textarea name="content-p"><%= item.paragraph %></textarea>
        </label>
      </li>
      <li>
        <label>
          Image
          <input name="content-" type="file" accept="image/*" onblur="input.set.image.name()">
        </label>
        <% if (item.image) { %>
          <img src="/media/<%= item.image %>" alt="Image about <% item.image %>">
          <% } %>
        <input name="content-i-name" type="hidden" value="<%= item.image %>">
      </li>
      <li>
        <label>
          Embedded video (YouTube or Vimeo)
          <input name="content-e" type="url" value="<%= item.video %>">
        </label>
      </li>
    </ul>
  </fieldset>

  <input type="submit" value="Save">
</form>

<%- include ../partials/footer -%>
