<%- include ../partials/head -%>

<title>Portfolio</title>

<%- include ../partials/header -%>

<h1>Portfolio</h1>

<p>
  This page is deticated to all the portfolio items your website contains. Every portfolio item has it's own paragraph, image and embedded video field, and are attached to either one or multiple courses.<br>
  Add a portfolio item by pressing the 'Add new portfolio item' button, or edit one by selecting it's title.
</p>

<a href="/subterra/portfolio/add" class="button">Add new portfolio item</a>

<% if (system.portfolio.length > 0) { %>
  <ul data-list="portfolio">
    <% for (let i = 0; i < system.portfolio.length; i++) { %>
      <li>
        <a href="/subterra/portfolio/edit/<%= system.portfolio[i].id %>">
          <%= system.portfolio[i].title %>
          <span><%= system.portfolio[i].courses.replace(/,/g, ', ') %></span>
        </a>
        <button data-action="delete type" onclick="utils.removeItem('portfolio', <%= system.portfolio[i].id %>)">delete</button>
      </li>
    <% } %>
  </ul>
<% } else { %>
  <p data-type="no-results">
    No portfolio items found.
  </p>
<% } %>

<%- include ../partials/footer -%>
