<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">

		<title>Add a page type</title>

    <%- include ../partials/head -%>

    <%- include ../partials/header -%>

    <% if (feedback) { %>
      <div id="feedback" class="<%= feedbackState %>">
        <%= feedback %>
      </div>
    <% } %>

    <h1>Add a page type</h1>

		<p>
			Select all module you want to set as default modules if a new page with this type is created.
		</p>

    <form action="/subterra/types/add" method="post" onsubmit="submitForm()">
      <fieldset>
        <legend>Name</legend>

        <input name="name" type="text" pattern="[a-zA-Z0-9\s]+" title="Only alphanumeric characters are allowed" required>
      </fieldset>
      <fieldset>
        <legend>Modules</legend>

        <ul id="typeModules"></ul>

        <input name="modules" type="hidden">

        <select id="typeModuleSelect" onchange="addSelectList('modules')">
          <option value="" disabled selected>Add a module</option>
          <% for (let i = 0; i < system.modules.length; i++) { %>
            <option value="<%= system.modules[i] %>">
              <%= system.modules[i] %>
            </option>
          <% } %>
        </select>
      </fieldset>

      <input type="submit" value="Submit">
    </form>

    <%- include ../partials/footer -%>
