<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">

		<title>Login</title>

    <%- include ../partials/head -%>

    <%- include ../partials/header -%>

    <% if (feedback) { %>
      <div id="feedback" class="<%= feedbackState %>">
        <%= feedback %>
      </div>
    <% } %>

    <form action="/subterra/login" method="post">
      <fieldset>
        <label>
          Username:
          <input type="text" name="username">
        </label>
        <label>
          Password:
          <input type="password" name="password">
        </label>
        <input type="submit" value="Submit">
      </fieldset>
    </form>

    <%- include ../partials/footer -%>
