<%- include ../partials/head -%>

<title>Add a FAQ question</title>

<%- include ../partials/header -%>

<% if (feedback) { %>
  <div id="feedback" class="<%= feedbackState %>">
    <%= feedback %>
  </div>
<% } %>

<h1>Add a FAQ question</h1>

<p>
  Enter a question in the title field and set the answer in the field below that.
</p>

<form action="/subterra/faq/add" method="post" onsubmit="submitForm()">
  <fieldset>
    <legend>Question</legend>

    <input name="question" type="text" pattern="[a-zA-Z0-9\s]+" title="Only alphanumeric characters are allowed" required> ?
  </fieldset>
  <fieldset>
    <legend>Answer</legend>

    <ul id="pageContent">
      <li>
        <textarea name="answer"></textarea>
      </li>
    </ul>
  </fieldset>

  <input type="submit" value="Submit">
</form>

<%- include ../partials/footer -%>
