<%- include ../partials/head -%>

<title>Edit FAQ question</title>

<%- include ../partials/header -%>

<h1>Edit FAQ question</h1>

<p>
  Edit the question in the title field and edit the answer in the field below that.
</p>

<button data-action="delete type" onclick="utils.removeItem('faq', <%= question.id %>)">Delete question</button>

<form action="/subterra/faq/edit/<%= question.id %>" method="post" onsubmit="form.submit()">
  <fieldset>
    <legend>Question</legend>

    <label>
      Edit the question
      <input name="question" type="text" pattern="[a-zA-Z0-9\s]+" title="Only alphanumeric characters are allowed" value="<%= question.question %>" required>
      <span data-character="question-mark">?</span>
    </label>
  </fieldset>
  <fieldset>
    <legend>Content</legend>

    <ul data-list="content">
      <li>
        <label>
          Edit the answer
          <textarea name="answer"><%= question.answer %></textarea>
        </label>
      </li>
    </ul>
  </fieldset>

  <input type="submit" value="Save">
</form>

<%- include ../partials/footer -%>
