<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">

		<title>Add a menu</title>

    <%- include ../partials/head -%>

    <%- include ../partials/header -%>

		<% if (feedback) { %>
			<div id="feedback" class="<%= feedbackState %>">
				<%= feedback %>
			</div>
		<% } %>

    <h1>Add a new menu</h1>

		<form action="/subterra/menus/add" method="post" onsubmit="submitForm()">
      <fieldset>
        <legend>Name</legend>

        <input name="name" type="text" required>
      </fieldset>
      <fieldset>
        <legend>Children</legend>

        <ul id="menuChildren"></ul>

        <input name="children" type="hidden">

        <select id="childSelect" onchange="addSelectList('children')">
          <option value="" disabled selected>Add a child</option>
          <% for (let i = 0; i < system.pages.length; i++) { %>
            <option value="<%= system.pages[i] %>">
              <%= system.pages[i] %>
            </option>
          <% } %>
        </select>
      </fieldset>

      <input type="submit" value="Submit">
    </form>

		<%- include ../partials/footer -%>
