<%- include partials/head -%>

<title>Subterra</title>

<%- include partials/header -%>

<% if (feedback) { %>
  <div id="feedback" class="<%= feedbackState %>">
    <%= feedback %>
  </div>
<% } %>

<h1>Curriculum CMD: Subterra</h1>

<button data-add="page" onclick="toggleShow('#pageTypes')">Add new page</button>

<ul id="pageTypes" class="hidden">
  <% for (let i = 0; i < system.types.length; i++) { %>
    <li>
      <a href="/subterra/pages/add/<%= system.types[i] %>">Add <%= system.types[i] %></a>
    </li>
  <% } %>
</ul>

<%- include partials/footer -%>
