<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">

		<title>Subterra - '<%= query %>'</title>

    <%- include partials/head -%>

    <%- include partials/header -%>

    <% if (feedback) { %>
      <div id="feedback" class="<%= feedbackState %>">
        <%= feedback %>
      </div>
    <% } %>

    <h1>Results for '<%= query %>':</h1>

    <%# Check if category contains result%>
    <% Object.keys(system).forEach(category => { %>
      <% if (system[category].length > 0) { %>
        <section>
          <h3><%= category %></h3>
          <p><%= system[category].length %> <%= system[category].length === 1 ? 'item' : 'items' %> found</p>

          <ul>
            <% for (let i = 0; i < system[category].length; i++) { %>
              <li>
                <%= system[category][i].name %>
                <a href="/subterra/<%= category %>/edit/<%= system[category][i].id %>">
                  edit
                </a>
              </li>
            <% } %>
          </ul>
        </section>
      <% } %>
    <% }); %>

		<%- include partials/footer -%>
